node_modules/
victorem.db
victorem.db-*
*.db
*.db-shm
*.db-wal
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
dist/
coverage/
/.idea/
*.log
.DS_Store
node_modules/
victorem.db
victorem.db-journal
.env
*.log
